{{#if list_mode}}
<div class="actions">
    {{#if pin_button}} {{! Only in "My stream" and "My threads : Threads / Pins" }}
    <a href="javascript: void(0)" class="thumb-pin{{thread_pin_class}} loading-button" title="Pin/Unpin">
        <span class="eai eai-pin"></span>
    </a>
    {{/if}}
    {{#if ban_button}} {{! Only in "My stream" }}
        <a href="javascript: void(0)" class="thumb-ban{{thread_ban_class}}" title="Dismiss">
            <span class="eai eai-remove"></span>
        </a>
    {{/if}}
    {{#if join_button}} {{! Only in "My threads : Pins / Left" }}
        <a href="javascript: void(0)" class="thumb-join loading-button" title="Join this thread">
            <span class="eai eai-join"></span>
        </a>
    {{/if}}
    {{#if leave_button}} {{! Only in "My threads : Threads" and if joined }}
        <a href="javascript: void(0)" class="thumb-leave loading-button" title="Leave this thread">
            <span class="eai eai-leave"></span>
        </a>
    {{/if}}
</div>
{{/if}}
<div class="card thread{{#if list_mode}}{{else}} standalone{{/if}}">
    <div data-user-placeholder></div>
    <p class="title">
        {{#if list_mode}}
            <a href="/thread/{{id}}" data-router>
            <a href="{{thirdparty_url}}" target="_blank">
                {{thread_not_published_icon}}
                {{thread_privacy_icon}}
                {{title}}
            </a>
        {{else}}
            {{thread_not_published_icon}}
            {{thread_privacy_icon}}
            {{title}}
        {{/if}}
    </p>
    <div class="infos">
        <p class="truncate">
            {{#if paper}}{{paper_title_authors paper}}{{/if}}
            {{#if published_at}}<em>{{formatDate published_at}}</em>{{/if}}
        </p>
        <p class="icons">
            <span class="type" title="{{thread_type_title}}">
                {{thread_type_icon}}
            </span>
            <span class="comment" title="{{posts_count}} post(s)">
                <span class="count">{{posts_count}}</span>
                <span class="eai eai-comment"></span>
            </span>
            <span class="member" title="{{members_count}} member(s)">
                <span class="count">{{members_count}}</span>
                <span class="eai eai-user"></span>
            </span>
        </p>
    </div>
</div>
