{{#if list_mode}}
<div class="actions">
    <a href="javascript: void(0)" class="thumb-pin{{thread_pin_class}}" title="Pin/Unpin">
        <span class="eai eai-pin"></span>
    </a>
    <a href="javascript: void(0)" class="thumb-ban{{thread_ban_class}}" title="Remove from my threads">
        <span class="eai eai-remove"></span>
    </a>
</div>
{{/if}}
<div class="card{{#if list_mode}}{{else}} standalone{{/if}}">
    <div data-user-placeholder></div>
    <p class="title">
        {{#if list_mode}}
            <a href="javascript: void(0)">
                {{thread_privacy_icon}}
                {{title}}
            </a>
        {{else}}
            {{thread_privacy_icon}}
            {{title}}
        {{/if}}
    </p>
    <div class="infos">
        <p class="truncate">
            {{#if paper}}{{paper_title_authors paper}}{{/if}}
            <em>{{date created}}</em>
        </p>
        <p class="icons">
            <span class="type" title="{{thread_type_title}}">
                {{thread_type_icon}}
            </span>
            <span class="comment" title="{{posts_count}} post(s)">
                <span class="count">{{posts_count}}</span>
                <span class="eai eai-comment"></span>
            </span>
            <span class="member" title="{{members_count}} member(s)">
                <span class="count">{{members_count}}</span>
                <span class="eai eai-user"></span>
            </span>
        </p>
    </div>
</div>
