{{#if list_mode}}
<div class="actions">
    {{#if pin_button}}
    <a href="javascript: void(0)" class="thumb-pin{{paper_pin_class}} loading-button" title="Pin/Unpin">
        <span class="eai eai-pin"></span>
    </a>
    {{/if}}
    {{#if ban_button}}
        <a href="javascript: void(0)" class="thumb-ban{{paper_ban_class}}" title="Dismiss">
            <span class="eai eai-remove"></span>
        </a>
    {{/if}}
    {{#if add_button}}
        <a href="javascript: void(0)" class="thumb-add{{paper_add_class}}" title="Add to library">
            <span class="eai eai-library-add"></span>
        </a>
    {{/if}}
    {{#if trash_button}}
        <a href="javascript: void(0)" class="thumb-trash{{paper_trash_class}}" title="Move to trash">
            <span class="eai eai-library-trash"></span>
        </a>
    {{/if}}
</div>
{{/if}}
<div class="card {{#if list_mode}}{{else}} standalone{{/if}}">
    <p class="title">
        {{#if list_mode}}
            <a href="/papers/{{slug}}" data-router>
                {{paper_new_icon}}
                {{title}}
            </a>
        {{else}}
            {{paper_new_icon}}
            {{title}}
        {{/if}}
    </p>
    <p class="authors">
        {{paper_authors}}
    </p>
    <div class="infos">
        <p class="truncate">
            {{paper_journal}}
            <em>{{formatDate date}}</em>
        </p>
        <p class="icons">
            {{! cluster icon }}

            {{paper_altmetric_icon}}

            <span class="comment" title="{{linked_threads_count}} thread(s)">
                <span class="count">{{linked_threads_count}}</span>
                <span class="eai eai-comments"></span>
            </span>
        </p>
    </div>
</div>
